<div class="card">
  <p-tabView>
    <p-tabPanel header="Configure Your Preferences">
      <p-fieldset styleClass="my-5" legend="Storage" [toggleable]="true">
        <div class="container-grid">
          <ng-container
            *ngTemplateOutlet="
              settingsDetails;
              context: {
                title: 'Directory',
                description: 'Choose a directory to work with'
              }
            "
          >
          </ng-container>
          <div class="m-2">
            <div class="p-inputgroup">
              <button
                type="button"
                pButton
                pRipple
                icon="pi pi-folder"
                (click)="updateDirectory()"
              ></button>
              <input
                type="text"
                pInputText
                [(ngModel)]="configSettings.baseDirectory"
              />
            </div>
          </div>
        </div>
      </p-fieldset>

      <!-- - Screenshot Tab -->

      <p-fieldset styleClass="my-5" legend="Screenshot" [toggleable]="true">
        <div class="container-grid">
          <ng-container
            *ngTemplateOutlet="
              settingsDetails;
              context: {
                title: 'Screenshot Hot-Key',
                description: 'Set up key combinations for taking screenshots'
              }
            "
          >
          </ng-container>
          <div class="m-2">
            <div class="p-inputgroup">
              <button
                type="button"
                pButton
                pRipple
                icon="pi pi-camera"
                (click)="keybindSelectionActive = 'ss'"
              ></button>
              <input
                type="text"
                disabled
                pInputText
                [value]="configSettings.ssHotKey"
              />
              <p-dialog
                (onHide)="removeListenerAndUpdateKeybind('ss')"
                (onShow)="listenForKeybinds()"
                [focusTrap]="true"
                [focusOnShow]="true"
                [modal]="true"
                [resizable]="true"
                header="Listening for new Keybind"
                [closable]="false"
                [visible]="keybindSelectionActive === 'ss'"
                [style]="{
                  width: '50vw',
                  height: '50vh'
                }"
              >
                <div class="flex flex-col justify-center items-center">
                  <div *ngIf="keybindError">{{ keybindError }}</div>
                  <div class="text-2xl text-green-300 flex justify-center">
                    {{ recordedKeybind }}
                  </div>
                </div>
                <ng-template pTemplate="footer">
                  <p-button
                    icon="pi pi-check"
                    (click)="keybindSelectionActive = null"
                    label="Okay"
                    styleClass="p-button-text"
                  ></p-button>
                </ng-template>
              </p-dialog>
            </div>
          </div>
        </div>
        <p-divider></p-divider>
        <div class="container-grid">
          <ng-container
            *ngTemplateOutlet="
              settingsDetails;
              context: {
                title: 'Screenshot Resolution',
                description: 'The resolution for screenshots'
              }
            "
          >
          </ng-container>
          <div class="m-2">
            <p-dropdown
              [options]="availableScreenResolutions"
              [(ngModel)]="configSettings.ssResolution"
              placeholder="Resolution"
              [showClear]="false"
            ></p-dropdown>
          </div>
        </div>
      </p-fieldset>

      <!-- - Screen Recorder Tab -->

      <p-fieldset styleClass="my-5" legend="Screen Capture" [toggleable]="true">
        <div class="container-grid">
          <ng-container
            *ngTemplateOutlet="
              settingsDetails;
              context: {
                title: 'Screen Capture Hot-Key',
                description:
                  'Set up key combinations for enabling Screen Capture'
              }
            "
          >
          </ng-container>
          <div class="m-2">
            <div class="p-inputgroup">
              <button
                type="button"
                pButton
                pRipple
                icon="pi pi-video"
                (click)="keybindSelectionActive = 'sc'"
              ></button>
              <input
                type="text"
                disabled
                pInputText
                [value]="configSettings.scHotKey"
              />
              <p-dialog
                (onHide)="removeListenerAndUpdateKeybind('sc')"
                (onShow)="listenForKeybinds()"
                [focusTrap]="true"
                [focusOnShow]="true"
                [modal]="true"
                [resizable]="true"
                header="Listening for new Keybind"
                [closable]="false"
                [visible]="keybindSelectionActive === 'sc'"
                [style]="{
                  width: '50vw',
                  height: '50vh'
                }"
              >
                <div class="flex flex-col justify-center items-center">
                  <div *ngIf="keybindError">{{ keybindError }}</div>
                  <div class="text-2xl text-green-300 flex justify-center">
                    {{ recordedKeybind }}
                  </div>
                </div>
                <ng-template pTemplate="footer">
                  <p-button
                    icon="pi pi-check"
                    (click)="keybindSelectionActive = null"
                    label="Okay"
                    styleClass="p-button-text"
                  ></p-button>
                </ng-template>
              </p-dialog>
            </div>
          </div>
        </div>
        <p-divider></p-divider>
        <div class="container-grid">
          <ng-container
            *ngTemplateOutlet="
              settingsDetails;
              context: {
                title: 'Screen Capture Resolution',
                description: 'The resolution for screen captures'
              }
            "
          >
          </ng-container>
          <div class="m-2">
            <p-dropdown
              [options]="availableScreenResolutions"
              [(ngModel)]="configSettings.scResolution"
              placeholder="Resolution"
              [showClear]="false"
            ></p-dropdown>
          </div>
        </div>
      </p-fieldset>
      <ng-container *ngTemplateOutlet="settingsActionTemplate"></ng-container>
    </p-tabPanel>
  </p-tabView>
</div>

<!-- - Tab Action Items Template -->

<ng-template #settingsDetails let-title="title" let-description="description">
  <div class="m-1">
    <h4 class="text-xl font-bold">{{ title }}</h4>
    <span class="text-base">{{ description }}</span>
  </div>
</ng-template>

<ng-template #settingsActionTemplate>
  <div class="flex justify-end m-4">
    <button
      pButton
      pRipple
      type="button"
      label="Save"
      class="p-button-raised p-button-sm mx-2"
      (click)="saveSettings()"
    ></button>
    <button
      pButton
      pRipple
      type="button"
      label="Cancel"
      class="p-button-outlined p-button-sm mx-2"
      (click)="cancelSettings()"
    ></button>
  </div>
</ng-template>
