<div class="h-screen w-screen bg-gray-900 overflow-x-hidden">
  <app-top-menu (tabChangeEvent)="changeTab($event)"></app-top-menu>
  <div class="">
    <app-gallery
      (newGalleryEvent)="getGallery()"
      *ngIf="currentTab === 'gallery'"
      [mediaFiles]="mediaFiles"
    ></app-gallery>
    <app-settings
      [PREFERENCES]="PREFERENCES"
      (tabChangeEvent)="changeTab($event)"
      (settingsUpdateEvent)="getAllPreferences()"
      *ngIf="currentTab === 'settings'"
    ></app-settings>
  </div>
</div>
