<div class="h-screen w-screen bg-gray-900 overflow-x-hidden">
  <app-top-menu
    (topMenuSelectionEvent)="handleTopMenuSelection($event)"
    (tabChangeEvent)="changeTab($event)"
  ></app-top-menu>
  <div>
    <div class="m-2 flex justify-end">
      <p-tag
        *ngIf="showVideoCaptureMarker"
        icon="pi pi-times"
        severity="danger"
        value="Recording"
      ></p-tag>
    </div>
    <app-gallery
      (newGalleryEvent)="getGallery()"
      *ngIf="currentTab === 'gallery'"
      [mediaFiles]="mediaFiles"
      [actions$]="galleryActions$"
    ></app-gallery>
    <app-settings
      [PREFERENCES]="PREFERENCES"
      (tabChangeEvent)="changeTab($event)"
      (settingsUpdateEvent)="getAllPreferences()"
      *ngIf="currentTab === 'settings'"
    ></app-settings>
  </div>
</div>
