<div class="h-screen flex flex-col justify-center items-center bg-gray-900">
  <p-card
    header="Welcome to Screenmix"
    subheader="Basic Settings"
    [style]="{
      width: '600px',
      height: '400px',
      maxWidth: '80vw',
      maxHeight: '75vh',
      position: 'relative'
    }"
    styleClass="p-card-shadow"
  >
    <div class="flex flex-col items-center justify-center">
      <h5 class="font-semibold">
        Where do you want to save your screen shots?
      </h5>
      <button
        pButton
        styleClass="p-button-sm"
        pRipple
        type="button"
        icon="pi pi-file-o"
        class="p-button-outlined m-4 w-full"
        (click)="selectDirectory()"
      >
        Choose Directory
      </button>
      <h3 class="caret-blue-800">{{ selectedDirectory }}</h3>
    </div>
    <ng-template pTemplate="footer">
      <div class="flex justify-end absolute bottom-2 right-2">
        <button
          pButton
          label="Save"
          icon="pi pi-check"
          iconPos="right"
          class="p-button-sm"
          (click)="handleConfigSubmit()"
        ></button>
      </div>
    </ng-template>
  </p-card>
</div>
<app-progress-bar *ngIf="isLoading"></app-progress-bar>
