<div class="h-screen bg-gray-900 text-white">
  <div class="flex justify-end">
    <button
      (click)="selectDirectory()"
      pButton
      pRipple
      type="button"
      label="Add"
      class="p-button-sm"
    ></button>
  </div>
  <div
    class="grid m-2 gap-4"
    style="
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-auto-rows: 150px;
    "
  >
    <div
      *ngFor="let dir of screenmixDirectories; let dirIdx = index"
      (click)="navigateToWorkspace(dirIdx)"
      class="cursor-pointer"
    >
      <p-card
        [style]="{ width: '100%', height: '100%' }"
        styleClass="p-card-shadow"
      >
        <ng-template pTemplate="header">
          <span class="pi pi-folder text-4xl"></span>
        </ng-template>
        <ng-template pTemplate="subheader">
          <h1 class="text-xl" [pTooltip]="dir" tooltipPosition="top">
            {{ baseName(dir) }}
          </h1>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
