<div class="m-2 flex justify-end">
  <p-tag
    *ngIf="videoCaptureInProgress"
    icon="pi pi-times"
    severity="danger"
    value="Recording"
  ></p-tag>
</div>
<div
  class="grid m-2"
  style="grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))"
>
  <div *ngFor="let mediaFile of mediaFiles">
    <p-image
      *ngIf="mediaFile.type === 'image'"
      class="m-2 image-display"
      [preview]="true"
      [src]="mediaFile.path"
    ></p-image>
    <video
      *ngIf="mediaFile.type === 'video'"
      [src]="mediaFile.path"
      controls
    ></video>
  </div>
</div>
