<p-contextMenu
  [model]="contextMenuOptions"
  [baseZIndex]="10000"
  #contextMenuRef
></p-contextMenu>
<p-confirmDialog
  [baseZIndex]="10000"
  styleClass="w-[50vw]"
  icon="pi pi-exclamation-triangle"
  acceptButtonStyleClass="p-button-sm"
  rejectButtonStyleClass="p-button-sm"
></p-confirmDialog>
<div
  #mediaItems
  class="grid m-2 gap-2"
  style="
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 200px;
  "
>
  <div
    *ngFor="let mediaFile of mediaFiles; let mediaIdx = index"
    (contextmenu)="showContextMenu($event, mediaFile)"
    class="relative m-2 bg-black flex justify-center items-center overflow-hidden"
    [ngClass]="[
      selectMode
        ? mediaFile.customData?.['selected']
          ? 'border-4 border-solid border-blue-500'
          : ''
        : '',
      !mediaFile.customData?.['selected']
        ? 'hover:border-solid hover:border-2 hover:border-blue-500 hover:object-right transition-all duration-200'
        : ''
    ]"
  >
    <img
      *ngIf="mediaFile.type === 'image'"
      (click)="
        selectMode ? selectItem(mediaIdx) : showImageInSpotlight(mediaIdx)
      "
      [src]="mediaFile.path"
      class="object-contain h-full w-full cursor-pointer"
      alt=""
    />
    <video
      class="h-full w-full object-contain"
      *ngIf="mediaFile.type === 'video'"
      [src]="mediaFile.path"
      controls
    ></video>
  </div>
</div>

<!-- - Spotlight Image -->

<div
  *ngIf="spotlightImage"
  class="top-0 bottom-0 left-0 right-0 fixed z-50 bg-black bg-opacity-75"
>
  <!-- - Top Menu -->
  <div class="bg-black h-[60px] flex justify-end items-center p-1">
    <button
      *ngIf="imageEditor"
      (click)="saveOptionsMenu.toggle($event)"
      label="Save"
      pButton
      pRipple
      icon="pi pi-angle-down"
      iconPos="right"
      class="p-button-raised p-button-sm p-button-text"
      styleClass="p-button-sm"
    ></button>
    <p-menu #saveOptionsMenu [popup]="true" [model]="saveOptions"></p-menu>
    <button
      (click)="imageEditor ? exitEditor() : closeImageSpotlight()"
      [label]="imageEditor ? 'Exit Editor' : 'Close'"
      pButton
      pRipple
      icon="pi pi-times"
      iconPos="right"
      class="p-button-raised p-button-danger p-button-sm p-button-text"
      styleClass="p-button-sm"
    ></button>
    <span
      (click)="imageMenu.toggle($event)"
      class="pi pi-ellipsis-v text-xl text-white mx-4 cursor-pointer"
    ></span>
    <p-menu #imageMenu [popup]="true" [model]="imageOptions"></p-menu>
  </div>

  <!-- - Image -->
  <div
    class="flex justify-center items-center"
    style="height: calc(100vh - 120px)"
  >
    <img
      #spotlightImageElement
      [src]="spotlightImage.path"
      class="h-[100%] w-[100%] max-w-[85%] object-contain"
      alt=""
    />
  </div>

  <!-- - Bottom Toolbar -->
  <div class="h-[60px] flex justify-center items-center">
    <!-- - If not in edit mode -->
    <div
      *ngIf="!imageEditor"
      class="bg-black flex justify-center items-center p-1 image-toolbar"
    >
      <span (click)="previousImage()" class="pi pi-angle-left"></span>
      <span (click)="nextImage()" class="pi pi-angle-right"></span>
    </div>

    <!-- - If in edit mode -->
    <div
      *ngIf="imageEditor"
      class="bg-black flex justify-center items-center p-1"
    >
      <span class="p-buttonset">
        <button
          *ngIf="imageEditor"
          (click)="rotateLeft()"
          pButton
          pRipple
          type="button"
          icon="pi pi-replay"
          label="Rotate Left"
          class="p-button-raised p-button-sm p-button-help py-1"
        ></button>
        <button
          *ngIf="imageEditor"
          (click)="rotateRight()"
          pButton
          pRipple
          type="button"
          icon="pi pi-refresh"
          label="Rotate Right"
          class="p-button-raised p-button-sm p-button-help py-1"
        ></button>
        <button
          *ngIf="imageEditor"
          (click)="cropPreview()"
          pButton
          pRipple
          type="button"
          icon="pi pi-eye"
          label="Crop"
          class="p-button-raised p-button-sm p-button-help py-1"
        ></button>
        <button
          *ngIf="imageEditor"
          (click)="resetImageToPrevEditingState()"
          pButton
          pRipple
          type="button"
          icon="pi pi-ban"
          label="Reset Image"
          class="p-button-raised p-button-sm p-button-help py-1"
        ></button>
      </span>
    </div>
  </div>
</div>
