<div class="card">
  <p-tabView>
    <p-tabPanel header="General">
      <p-fieldset legend="Storage" [toggleable]="true">
        <div class="container-grid">
          <div class="m-1">
            <h4 class="text-xl font-bold">Directory</h4>
            <span class="text-base">Choose a directory to work with</span>
          </div>
          <div class="m-2">
            <div class="p-inputgroup">
              <button
                type="button"
                pButton
                pRipple
                icon="pi pi-folder"
                (click)="updateDirectory()"
              ></button>
              <input
                type="text"
                pInputText
                [(ngModel)]="configSettings.baseDirectory"
              />
            </div>
          </div>
        </div>
      </p-fieldset>
      <ng-container *ngTemplateOutlet="settingsActionTemplate"></ng-container>
    </p-tabPanel>
    <p-tabPanel header="Screenshot">
      <p-fieldset legend="Key Binds" [toggleable]="true">
        <div class="container-grid">
          <div class="m-1">
            <h4 class="text-xl font-bold">Key Combinations</h4>
            <span class="text-base"
              >Set up key combinations for taking screenshots</span
            >
          </div>
          <div class="m-2">
            <div
              class="p-inputgroup"
              *ngFor="
                let keyBind of configSettings.ssKeyBinds;
                let keyBindIdx = index
              "
            >
              <button
                type="button"
                pButton
                pRipple
                icon="pi pi-folder"
                (click)="keybindSelectionActive = true"
              ></button>
              <input type="text" disabled pInputText [value]="keyBind" />
              <p-dialog
                (onHide)="removeListenerAndUpdateKeybind('ss', keyBindIdx)"
                (onShow)="listenForKeybinds()"
                [focusTrap]="true"
                [focusOnShow]="true"
                [modal]="true"
                [resizable]="true"
                header="Listening for new Keybind"
                [closable]="false"
                [(visible)]="keybindSelectionActive"
                [style]="{
                  width: '50vw',
                  height: '50vh'
                }"
              >
                <span>{{ recordedKeybind }}</span>
                <ng-template pTemplate="footer">
                  <p-button
                    icon="pi pi-check"
                    (click)="keybindSelectionActive = false"
                    label="Okay"
                    styleClass="p-button-text"
                  ></p-button>
                </ng-template>
              </p-dialog>
            </div>
          </div>
        </div>
      </p-fieldset>
      <ng-container *ngTemplateOutlet="settingsActionTemplate"></ng-container>
    </p-tabPanel>
    <p-tabPanel header="Screen Capture">
      <p>
        At vero eos et accusamus et iusto odio dignissimos ducimus qui
        blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
        et quas molestias excepturi sint occaecati cupiditate non provident,
        similique sunt in culpa qui officia deserunt mollitia animi, id est
        laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
        distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
        cumque nihil impedit quo minus.
      </p>
      <ng-container *ngTemplateOutlet="settingsActionTemplate"></ng-container>
    </p-tabPanel>
  </p-tabView>
</div>

<ng-template #settingsActionTemplate>
  <div class="flex justify-end m-4">
    <button
      pButton
      pRipple
      type="button"
      label="Save"
      class="p-button-raised p-button-sm mx-2"
      (click)="saveSettings()"
    ></button>
    <button
      pButton
      pRipple
      type="button"
      label="Cancel"
      class="p-button-outlined p-button-sm mx-2"
      (click)="cancelSettings()"
    ></button>
  </div>
</ng-template>
