<div *ngIf="spotlightImage" class="top-0 bottom-0 left-0 right-0 fixed z-50 bg-black bg-opacity-75" #containerElement>
   <!-- - Top Menu -->
   <p-toolbar styleClass="h-[60px] p-0">
      <div
         class="p-toolbar-group-left h-full w-full whitespace-nowrap"
         style="display: grid; grid-template-columns: repeat(3, minmax(0, 1fr)); grid-template-rows: 100%"
      >
         <div
            [pTooltip]="spotlightImage.name + ' - ' + imageResolution?.width + 'x' + imageResolution?.height"
            class="text-gray-300 flex justify-start"
         >
            <h3
               tooltipPosition="bottom"
               class="max-w-full overflow-hidden overflow-ellipsis select-none cursor-default"
            >
               {{ spotlightImage.name }} - {{ imageResolution?.width }}x{{ imageResolution?.height }}
            </h3>
         </div>
         <div class="flex justify-center">
            <div>
               <button
                  pTooltip="Rotate Right"
                  tooltipPosition="bottom"
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-refresh"
                  (click)="rotateRight()"
                  class="p-button-rounded p-button-text p-button-info"
               ></button>
               <button
                  *ngIf="!editing"
                  pTooltip="Copy"
                  tooltipPosition="bottom"
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-copy"
                  (click)="copyImage()"
                  class="p-button-rounded p-button-text p-button-info"
               ></button>
               <button
                  pTooltip="Zoom Out"
                  tooltipPosition="bottom"
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-search-minus"
                  (click)="zoomOut()"
                  class="p-button-rounded p-button-text p-button-info"
               ></button>
               <button
                  pTooltip="Zoom In"
                  tooltipPosition="bottom"
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-search-plus"
                  (click)="zoomIn()"
                  class="p-button-rounded p-button-text p-button-info"
               ></button>
               <button
                  pTooltip="Center"
                  tooltipPosition="bottom"
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-th-large"
                  (click)="centerImage()"
                  class="p-button-rounded p-button-text p-button-info"
               ></button>
               <button
                  *ngIf="editing"
                  pTooltip="Crop"
                  tooltipPosition="bottom"
                  (click)="cropPreview()"
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-box"
                  label=""
                  class="p-button-rounded p-button-text p-button-info"
               ></button>
               <button
                  pTooltip="Reset"
                  tooltipPosition="bottom"
                  (click)="resetImageToPrevEditingState()"
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-undo"
                  label=""
                  class="p-button-rounded p-button-text p-button-info"
               ></button>
               <button
                  (click)="deleteImage()"
                  pTooltip="Delete"
                  tooltipPosition="bottom"
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-text p-button-danger"
               ></button>
            </div>
         </div>
         <div class="flex justify-end">
            <div>
               <p-button
                  *ngIf="!editing"
                  pTooltip="Edit"
                  tooltipPosition="bottom"
                  (onClick)="emitViewerEvent({ eventName: 'openEditor' })"
                  label="Edit"
                  icon="pi pi-pencil"
                  styleClass="p-button-sm p-button-text"
               ></p-button>
               <div class="inline-flex mr-1">
                  <p-button
                     *ngIf="editing"
                     pTooltip="Save"
                     tooltipPosition="bottom"
                     (onClick)="!previewMode ? handleSave(false) : acceptPreview()"
                     label="Save"
                     icon="pi pi-save"
                     styleClass="p-button-sm p-button-text"
                  ></p-button>
                  <p-button
                     *ngIf="editing && !previewMode"
                     pTooltip="Save a copy"
                     tooltipPosition="bottom"
                     (onClick)="handleSave(true)"
                     label="Save a copy"
                     icon="pi pi-plus"
                     styleClass="p-button-sm p-button-text"
                  ></p-button>
               </div>
               <button
                  (click)="previewMode ? rejectPreview() : editing ? exitEditor() : closeImageSpotlight()"
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-times"
                  class="p-button-rounded p-button-text p-button-secondary"
               ></button>
            </div>
         </div>
      </div>
   </p-toolbar>

   <!-- - Image -->
   <div class="flex justify-center items-center py-3" style="height: calc(100vh - 60px)">
      <div class="max-w-[95%] h-[100%]">
         <img
            #spotlightImageElement
            (load)="updateImageData()"
            [src]="spotlightImage.path"
            class="h-[100%] w-[100%] max-w-[100%] object-contain"
            alt=""
         />
      </div>
   </div>
</div>
