<div
  *ngIf="spotlightImage"
  class="top-0 bottom-0 left-0 right-0 fixed z-50 bg-black bg-opacity-75"
  #containerElement
>
  <!-- - Top Menu -->
  <p-toolbar styleClass="h-[60px] p-0">
    <div
      class="p-toolbar-group-left h-full w-full whitespace-nowrap"
      style="
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: 100%;
      "
    >
      <div class="text-gray-300 flex justify-start">
        <h3
          [pTooltip]="
            spotlightImage.name +
            ' - ' +
            imageResolution?.width +
            'x' +
            imageResolution?.height
          "
          tooltipPosition="bottom"
          class="max-w-full overflow-hidden overflow-ellipsis select-none cursor-default"
        >
          {{ spotlightImage.name }} - {{ imageResolution?.width }}x{{
            imageResolution?.height
          }}
        </h3>
      </div>
      <div class="flex justify-center">
        <div>
          <p-button
            *ngIf="!editing"
            (onClick)="emitViewerEvent({ eventName: 'openEditor' })"
            label="Edit"
            icon="pi pi-pencil"
            styleClass="p-button-sm p-button-text"
          ></p-button>
          <p-button
            *ngIf="editing"
            (onClick)="handleSave()"
            label="Save"
            icon="pi pi-save"
            styleClass="p-button-sm p-button-text"
          ></p-button>
          <p-button
            *ngIf="editing"
            (onClick)="handleSave()"
            label="Save a copy"
            icon="pi pi-save"
            styleClass="p-button-sm p-button-text"
          ></p-button>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-replay"
            (click)="rotateLeft()"
            class="p-button-rounded p-button-text p-button-info"
          ></button>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-refresh"
            (click)="rotateRight()"
            class="p-button-rounded p-button-text p-button-info"
          ></button>

          <button
            *ngIf="editing"
            (click)="cropPreview()"
            pButton
            pRipple
            type="button"
            icon="pi pi-eye"
            label=""
            class="p-button-rounded p-button-text p-button-info"
          ></button>
          <button
            (click)="resetImageToPrevEditingState()"
            pButton
            pRipple
            type="button"
            icon="pi pi-ban"
            label=""
            class="p-button-rounded p-button-text p-button-info"
          ></button>

          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-trash"
            class="p-button-rounded p-button-text p-button-danger"
          ></button>
        </div>
      </div>
      <div class="flex justify-end">
        <div>
          <button
            (click)="editing ? exitEditor() : closeImageSpotlight()"
            pButton
            pRipple
            type="button"
            icon="pi pi-times"
            class="p-button-rounded p-button-text p-button-secondary"
          ></button>
        </div>
      </div>
    </div>
  </p-toolbar>

  <!-- - Image -->
  <div
    class="flex justify-center items-center py-3"
    style="height: calc(100vh - 60px)"
  >
    <div class="max-w-[95%] h-[100%]">
      <img
        #spotlightImageElement
        (load)="updateImageData()"
        [src]="spotlightImage.path"
        class="h-[100%] w-[100%] max-w-[100%] object-contain"
        alt=""
      />
    </div>
  </div>
</div>
