<p-toast
  styleClass="opacity-100"
  [baseZIndex]="10000"
  position="bottom-center"
></p-toast>
<p-confirmDialog
  [baseZIndex]="10000"
  styleClass="w-[50vw]"
  icon="pi pi-exclamation-triangle"
  acceptButtonStyleClass="p-button-sm"
  rejectButtonStyleClass="p-button-sm"
></p-confirmDialog>
<div class="h-screen w-screen bg-gray-900 overflow-x-hidden">
  <p-menubar
    [model]="
      gallerySelectMode
        ? addStatusItemsToMenu(menuItemsSelect)
        : addStatusItemsToMenu(menuItemsDefault)
    "
    styleClass="fixed top-0 priority-menu-bar"
  >
    <ng-template pTemplate="end">
      <p-selectButton
        [options]="filterTypeOptions"
        [(ngModel)]="mediaFileFilter"
        optionLabel="label"
        optionValue="value"
        styleClass="p-button-sm text-sm p-0"
        (onChange)="handleFilterTypeChange($event)"
      ></p-selectButton>
    </ng-template>
  </p-menubar>
  <div [ngStyle]="{ marginTop: '90px' }">
    <app-gallery
      (galleryEvent)="handleGalleryEvent($event)"
      *ngIf="currentTab === 'gallery'"
      [mediaFileFilter]="mediaFileFilter"
      [mediaFiles]="mediaFiles"
      [actions$]="galleryActions$"
      [selectMode]="gallerySelectMode"
    ></app-gallery>
    <app-settings
      [PREFERENCES]="PREFERENCES"
      (tabChangeEvent)="changeTab($event)"
      (settingsUpdateEvent)="getAllPreferences()"
      *ngIf="currentTab === 'settings'"
    ></app-settings>
  </div>
</div>
